---
import Layout from "../layouts/layout.astro";
import Main from "../layouts/mainlayout.astro";
import HeaderMenu from "../components/headermenu.astro";
import Sidebar from "../components/sidebar.astro";
import Hero from "../components/indexpage/hero.astro";
import Preloader from "../components/preloader.astro";
import Header from "../components/header.astro";
import Breadcrumb from "../components/aboutpage/breadcrumb.astro";
---

<Layout title="J Bengtsson">
  <Sidebar title="Title" />
  <HeaderMenu title="Title" />
  <div
    class="h-full bg-[#F5F5F5] bg-cover bg-no-repeat bg-center dark:bg-[url('../images/home2-hero-bg-dark.png')] dark:bg-dark_primary_bg"
  >
    <Header />
    <!-- Main wrapper start -->
    <Main>
      <div
        class="ltr:xxl:pl-[440px] ltr:xl:pl-[300px] ltr:lg:pl-[230px] rtl:xxl:pr-[440px] rtl:xl:pr-[300px] rtl:lg:pr-[230px] ltr:xxl:pr-[100px] ltr:xl:pr-[50px] ltr:lg:pr-[30px] ltr:only-md:pr-[20px] rtl:xxl:pl-[100px] rtl:xl:pl-[30px] md:px-[15px]"
      >
        <div
          class="ltr:xxl:pl-[100px] ltr:xl:pl-[50px] ltr:lg:pl-[30px] ltr:only-md:pl-5 rtl:xxl:pr-[100px] rtl:xl:pr-[50px] rtl:lg:pr-[30px] rtl:only-md:pr-5"
        >
          <Breadcrumb title="Contact Me" accent="Me" />

          <!-- Contact form section start -->
          <section class="pt-[50px] lg:pb-[100px] pb-[70px]" id="contact">
            <!-- Form wrapper start -->
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-[30px]">
              <div>
                <!-- Section title -->
                <div class="mb-[55px] md:text-center">
                  <span
                    class="text-accent1 text-[20px] lg:text-[24px] font-medium mb-[10px] lg:mb-[5px]"
                    >CONTACT</span
                  >
                  <h2
                    class="text:[28px] xl:text-[48px] lg:text-[40px] font-bold font-heebo leading-[36x] lg:leading-[58px] text-[#000248] dark:text-white"
                  >
                    Get I contact work
                  </h2>
                  <p
                    class="text-[#636363] dark:text-slate-200 text-[17px] leading-[28px] lg:max-w-[472px] w-full"
                  >
                    Promote your blog posts, case udie, and product ouncems with
                    the the branded videoscustomers coming back for services
                    Makes best effort.
                  </p>
                </div>
                <!-- Section title end -->

                <!-- from inner start-->
                <form action="#">
                  <div class="grid grid-cols-2 gap-7">
                    <div>
                      <input
                        class="w-full bg-white rounded px-5 py-2 h-11 dark:bg-transparent dark:text-slate-300 border border-[#dddddd] dark:border dark:border-slate-600"
                        type="text"
                        name="name"
                        placeholder="Your name"
                      />
                    </div>
                    <div>
                      <input
                        class="w-full bg-white rounded px-5 py-2 h-11 dark:bg-transparent dark:text-slate-300 border border-[#dddddd] dark:border dark:border-slate-600"
                        type="email"
                        name="email"
                        placeholder="Your email"
                      />
                    </div>
                    <div class="col-span-2">
                      <textarea
                        class="w-full bg-white rounded px-5 py-2 h-40 dark:bg-transparent dark:text-slate-300 border border-[#dddddd] dark:border dark:border-slate-600"
                        name="message"
                        id=""
                        cols="30"
                        rows="10"
                        placeholder="Message"></textarea>
                    </div>
                  </div>
                  <button class="btn solid-btn mt-12">Send Request</button>
                </form>
                <!-- from inner end -->
              </div>

              <div
                class="ltr:only-md:pl-[30px] ltr:lg:pl-[50px] rtl:only-md:pr-[30px] rtl:lg:pr-[50px] mt-[30px] lg:mt-[150px] md:flex md:gap-[30px] md:flex-wrap"
              >
                <!-- Single contact info start -->
                <div class="flex items-center">
                  <div>
                    <span
                      class="w-[50px] h-[50px] lg:w-[70px] lg:h-[70px] bg-accent1 text-white flex items-center rounded-full justify-center"
                    >
                      <svg
                        width="25"
                        height="34"
                        fill="currentColor"
                        stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                        ><path
                          d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"
                        ></path></svg
                      >
                    </span>
                  </div>
                  <div class="ltr:pl-6 rtl:pr-6">
                    <h3
                      class="text-[28px] md:text-[22px] font-heebo font-bold text-primary dark:text-white"
                    >
                      Call Me
                    </h3>
                    <span
                      class="text-primary dark:text-slate-200 text-[22px] md:text-[18px] mt-5"
                      >++880254615566 <br /> ++826542556455</span
                    >
                  </div>
                </div>
                <!-- Single contact info end -->

                <!-- Single contact info start -->
                <div class="flex items-center lg:mt-7">
                  <div>
                    <span
                      class="w-[50px] h-[50px] lg:w-[70px] lg:h-[70px] bg-accent1 text-white flex items-center rounded-full justify-center"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="28"
                        height="28"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        strokeWidth="2"
                        strokeLinecap="round"
                        strokeLinejoin="round"
                        class="feather feather-mail"
                        ><path
                          d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                        ></path><polyline points="22,6 12,13 2,6"
                        ></polyline></svg
                      >
                    </span>
                  </div>
                  <div class="ltr:pl-6 rtl:pr-6">
                    <h3
                      class="text-[28px] md:text-[22px] font-heebo font-bold text-primary dark:text-white"
                    >
                      Email Us
                    </h3>
                    <span
                      class="text-primary dark:text-slate-200 text-[22px] md:text-[18px] mt-5"
                      >rubel@eobi.com <br />
                      moraty@bara.com
                    </span>
                  </div>
                </div>
                <!-- Single contact info end -->

                <!-- Single contact info start -->
                <div class="flex items-center lg:mt-7">
                  <div>
                    <span
                      class="w-[50px] h-[50px] lg:w-[70px] lg:h-[70px] bg-accent1 text-white flex items-center rounded-full justify-center"
                    >
                      <svg
                        width="32"
                        height="34"
                        fill="currentColor"
                        stroke="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 384 512"
                        ><path
                          d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"
                        ></path></svg
                      >
                    </span>
                  </div>
                  <div class="ltr:pl-6 rtl:pr-6">
                    <h3
                      class="text-[28px] md:text-[22px] font-heebo font-bold text-primary dark:text-white"
                    >
                      Address
                    </h3>
                    <span
                      class="text-primary dark:text-slate-200 text-[22px] md:text-[18px] mt-5"
                      >20, 25 Dhaka,0123 <br />
                      Ratrba baraj,20
                    </span>
                  </div>
                </div>
                <!-- Single contact info end -->
              </div>
            </div>
            <!-- Form wrapper end -->

            <!-- Google map start  -->
            <div class="pt-[70px] lg:pt-[100px]">
              <div class="border-2 border-accent1" style="width: 100%">
                <iframe
                  width="100%"
                  height="400"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                  src="https://maps.google.com/maps?width=100%25&height=440&hl=en&q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&t=&z=14&ie=UTF8&iwloc=B&output=embed"
                  ><a
                  href="https://www.maps.ie/distance-area-calculator.html">distance
                  maps</a></iframe
                >
              </div>
            </div>
            <!-- Google map send -->
          </section>
          <!-- Contact form section end -->
        </div>
      </div>
    </Main>
    <!-- Main wrapper end -->
  </div>
</Layout>
