<header class="hidden w-full md:block xl:py-8 py-7">
  <div class="xxl:px-[100px] xl:px-[30px] lg:px-[15px] md:px-[15px]">
    <div class="flex justify-end md:justify-between items-center">
      <div class="logo hidden md:block">
        <a href="./index-2.html">
          <img
            class="hidden dark:block"
            src="./assets/images/logo-light.png"
            alt=""
          />
          <img class="dark:hidden" src="./assets/images/logo.png" alt="" />
        </a>
      </div>
      <div class="lg:hidden">
        <button
          class="offcanvas__header--menu__open--btn text-primary dark:text-white"
          data-offcanvas
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-menu"
            ><line x1="3" y1="12" x2="21" y2="12"></line><line
              x1="3"
              y1="6"
              x2="21"
              y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg
          >
        </button>
      </div>
    </div>
  </div>
</header>
