<section
  class="dark:bg-dark_primary_bg md:pt-[50px] md:pb-[70px] lg:py-[100px] border-b-[1px] border-[#DDDDDD] dark:border-b dark:border-dark_accent1"
>
  <div class="flex justify-between sm:flex-wrap sm:flex-col-reverse">
    <div class="w-full lg:max-w-[550px]">
      <div>
        <span
          class="text-accent1 text-[20px] lg:text-[24px] font-medium inline-block mb-[5px] lg:mb-[5px]"
          >ABOUT ME</span
        >
        <h2
          class="text-[22px] only-md:text-[30px] lg:text-[35px] xl:text-[40px] xxl:text-[48px] font-bold font-heebo leading-[36px] xxl:leading-[58px] xl:leading-[50px] lg:leading-[42px] text-[#000248] dark:text-white ltr:lg:pr-[50px] rtl:lg:pl-[50px]"
        >
          I can design world for leading ui/ux
        </h2>
      </div>
      <div class="mt-[30px]">
        <h3 class="text-accent1 text-[20px] lg:text-[24px] font-medium">
          PERSONAL INFOS:
        </h3>
        <ul class="flex justify-between flex-wrap mt-[18px]">
          <li
            class="text-paragraph dark:text-slate-200 w-full xs:max-w-[100%] max-w-[50%] ltr:pl-[18px] rtl:pr-[18px] my-[10px] relative before:absolute before:content-[''] before:bg-accent1 before:w-[6px] before:h-[6px] ltr:before:left-0 rtl:before:right-0 before:top-[8px] before:rounded-full after:absolute after::content-[''] after:w-4 after:h-4 after:border-2 after:border-accent1 ltr:after:left-[-5px] rtl:after:right-[-5px] after:top-[3px] after:border-solid after:rounded-full text-[17px]"
          >
            First Name: Maras
          </li>

          <li
            class="text-paragraph dark:text-slate-200 w-full xs:max-w-[100%] max-w-[50%] ltr:pl-[18px] rtl:pr-[18px] my-[10px] relative before:absolute before:content-[''] before:bg-accent1 before:w-[6px] before:h-[6px] ltr:before:left-0 rtl:before:right-0 before:top-[8px] before:rounded-full after:absolute after::content-[''] after:w-4 after:h-4 after:border-2 after:border-accent1 ltr:after:left-[-5px] rtl:after:right-[-5px] after:top-[3px] after:border-solid after:rounded-full text-[17px]"
          >
            Last Name: Faron
          </li>

          <li
            class="text-paragraph dark:text-slate-200 w-full xs:max-w-[100%] max-w-[50%] ltr:pl-[18px] rtl:pr-[18px] my-[10px] relative before:absolute before:content-[''] before:bg-accent1 before:w-[6px] before:h-[6px] ltr:before:left-0 rtl:before:right-0 before:top-[8px] before:rounded-full after:absolute after::content-[''] after:w-4 after:h-4 after:border-2 after:border-accent1 ltr:after:left-[-5px] rtl:after:right-[-5px] after:top-[3px] after:border-solid after:rounded-full text-[17px]"
          >
            Address: Dubai
          </li>

          <li
            class="text-paragraph dark:text-slate-200 w-full xs:max-w-[100%] max-w-[50%] ltr:pl-[18px] rtl:pr-[18px] my-[10px] relative before:absolute before:content-[''] before:bg-accent1 before:w-[6px] before:h-[6px] ltr:before:left-0 rtl:before:right-0 before:top-[8px] before:rounded-full after:absolute after::content-[''] after:w-4 after:h-4 after:border-2 after:border-accent1 ltr:after:left-[-5px] rtl:after:right-[-5px] after:top-[3px] after:border-solid after:rounded-full text-[17px]"
          >
            Phone: +28921184010
          </li>

          <li
            class="text-paragraph dark:text-slate-200 w-full xs:max-w-[100%] max-w-[50%] ltr:pl-[18px] rtl:pr-[18px] my-[10px] relative before:absolute before:content-[''] before:bg-accent1 before:w-[6px] before:h-[6px] ltr:before:left-0 rtl:before:right-0 before:top-[8px] before:rounded-full after:absolute after::content-[''] after:w-4 after:h-4 after:border-2 after:border-accent1 ltr:after:left-[-5px] rtl:after:right-[-5px] after:top-[3px] after:border-solid after:rounded-full text-[17px]"
          >
            Age: 24 Years
          </li>

          <li
            class="text-paragraph dark:text-slate-200 w-full xs:max-w-[100%] max-w-[50%] ltr:pl-[18px] rtl:pr-[18px] my-[10px] relative before:absolute before:content-[''] before:bg-accent1 before:w-[6px] before:h-[6px] ltr:before:left-0 rtl:before:right-0 before:top-[8px] before:rounded-full after:absolute after::content-[''] after:w-4 after:h-4 after:border-2 after:border-accent1 ltr:after:left-[-5px] rtl:after:right-[-5px] after:top-[3px] after:border-solid after:rounded-full text-[17px]"
          >
            Email: you@mail.com
          </li>

          <li
            class="text-paragraph dark:text-slate-200 w-full xs:max-w-[100%] max-w-[50%] ltr:pl-[18px] rtl:pr-[18px] my-[10px] relative before:absolute before:content-[''] before:bg-accent1 before:w-[6px] before:h-[6px] ltr:before:left-0 rtl:before:right-0 before:top-[8px] before:rounded-full after:absolute after::content-[''] after:w-4 after:h-4 after:border-2 after:border-accent1 ltr:after:left-[-5px] rtl:after:right-[-5px] after:top-[3px] after:border-solid after:rounded-full text-[17px]"
          >
            Nationality: Tunisian
          </li>

          <li
            class="text-paragraph dark:text-slate-200 w-full xs:max-w-[100%] max-w-[50%] ltr:pl-[18px] rtl:pr-[18px] my-[10px] relative before:absolute before:content-[''] before:bg-accent1 before:w-[6px] before:h-[6px] ltr:before:left-0 rtl:before:right-0 before:top-[8px] before:rounded-full after:absolute after::content-[''] after:w-4 after:h-4 after:border-2 after:border-accent1 ltr:after:left-[-5px] rtl:after:right-[-5px] after:top-[3px] after:border-solid after:rounded-full text-[17px]"
          >
            Skype: Roben.Boris
          </li>

          <li
            class="text-paragraph dark:text-slate-200 w-full xs:max-w-[100%] max-w-[50%] ltr:pl-[18px] rtl:pr-[18px] my-[10px] relative before:absolute before:content-[''] before:bg-accent1 before:w-[6px] before:h-[6px] ltr:before:left-0 rtl:before:right-0 before:top-[8px] before:rounded-full after:absolute after::content-[''] after:w-4 after:h-4 after:border-2 after:border-accent1 ltr:after:left-[-5px] rtl:after:right-[-5px] after:top-[3px] after:border-solid after:rounded-full text-[17px]"
          >
            Freelance: Available
          </li>

          <li
            class="text-paragraph dark:text-slate-200 w-full xs:max-w-[100%] max-w-[50%] ltr:pl-[18px] rtl:pr-[18px] my-[10px] relative before:absolute before:content-[''] before:bg-accent1 before:w-[6px] before:h-[6px] ltr:before:left-0 rtl:before:right-0 before:top-[8px] before:rounded-full after:absolute after::content-[''] after:w-4 after:h-4 after:border-2 after:border-accent1 ltr:after:left-[-5px] rtl:after:right-[-5px] after:top-[3px] after:border-solid after:rounded-full text-[17px]"
          >
            Languages: French, English
          </li>
        </ul>
      </div>
    </div>
    <div class="sm:mb-[50px]">
      <div class="relative">
        <img
          class="relative z-10 sm:mx-auto"
          src="./assets/images/about-me.png"
          alt=""
        />
        <span
          class="absolute sm:w-[100px] sm:h-[100px] only-md:w-[150px] only-md:h-[150px] lg:w-[200px] lg:h-[200px] xl:w-[250px] xl:h-[250px] border-[8px] lg:border-[13px] border-accent1 rounded-full xs:bottom-[-25%] sm:bottom-[-12%] bottom-[-18%] ltr:sm:left-[3%] ltr:left-[-18%] rtl:sm:right-[3%] rtl:right-[-18%] animateUpDown"
        ></span>
      </div>
      <div class="text-center mt-[30px]">
        <h4
          class="font-heebo text-[50px] lg:text-[80px] font-bold leading-[1] text-white title-stroke"
        >
          27+
        </h4>
        <span
          class="font-bold sm:text-[20px] only-md:text-[24px] lg:text-[30px] font-heebo text-primary dark:text-white"
          >Experience Working</span
        >
      </div>
    </div>
  </div>
</section>
