<section class="lg:pb-[100px] md:pb-[70px]">
  <div
    class="flex flex-wrap justify-between md:justify-center items-center gap-[30px]"
  >
    <div>
      <img
        class="opacity-[0.7] hover:opacity-[1] transition duration-300 dark:hidden"
        src="./assets/images/logo/1.png"
        alt=""
      />
      <img
        class="grayscale hover:grayscale-0 transition duration-300 dark:block hidden"
        src="./assets/images/logo/dark-log-1.png"
        alt=""
      />
    </div>
    <div>
      <img
        class="opacity-[0.7] hover:opacity-[1] transition duration-300 dark:hidden"
        src="./assets/images/logo/2.png"
        alt=""
      />
      <img
        class="grayscale hover:grayscale-0 transition duration-300 dark:block hidden"
        src="./assets/images/logo/dark-log-2.png"
        alt=""
      />
    </div>
    <div>
      <img
        class="opacity-[0.7] hover:opacity-[1] transition duration-300 dark:hidden"
        src="./assets/images/logo/3.png"
        alt=""
      />
      <img
        class="grayscale hover:grayscale-0 transition duration-300 dark:block hidden"
        src="./assets/images/logo/dark-log-3.png"
        alt=""
      />
    </div>
    <div>
      <img
        class="opacity-[0.7] hover:opacity-[1] transition duration-300 dark:hidden"
        src="./assets/images/logo/6.png"
        alt=""
      />
      <img
        class="grayscale hover:grayscale-0 transition duration-300 dark:block hidden"
        src="./assets/images/logo/dark-log-6.png"
        alt=""
      />
    </div>
    <div>
      <img
        class="opacity-[0.7] hover:opacity-[1] transition duration-300 dark:hidden"
        src="./assets/images/logo/5.png"
        alt=""
      />
      <img
        class="grayscale hover:grayscale-0 transition duration-300 dark:block hidden"
        src="./assets/images/logo/dark-log-5.png"
        alt=""
      />
    </div>
  </div>
</section>
