---
interface Props {
  title: string;
  accent: string;
}

function getRest(str: string, remove: string) {
  return str.replace(remove, "");
}

const { title, accent } = Astro.props;
---

<section class="xl:pt-[70px] lg:pt-[70px] md:pt-4">
  <div class="text-center relative">
    <h1
      class="text-[40px] only-md:text-[55px] lg:text-[70px] strokeWhite text-white font-heebo font-bold title-stroke opacity-[0.15] leading-[1] uppercase"
    >
      {title}
    </h1>
    <span
      class="text-primary dark:text-white text-[25px] only-md:text-[35px] lg:text-[40px] font-heebo font-extrabold absolute left-0 right-0 bottom-0 uppercase"
    >
      {getRest(title, accent)} <span class="text-accent1">{accent}</span></span
    >
  </div>
</section>
